<!DOCTYPE html>
<html>
<title>Sino's Online Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <a href="/about">
                    <img src="https://plenis.github.io/images/sino.jpeg" style="width:100%" title="Understanding Sino..." alt="Avatar">
                        </a>
                    <div class="w3-display-bottomleft w3-container w3-text-white">
                        <h2><b>Sino Plenis</b></h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Programmer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Cape Town, Western Cape, South Africa</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>plenissino@gmail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0787992821</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Programming Skills</b></p>
                    <p>Java Basics</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
                    </div>
                    <p>JavaScript</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">
                            <div class="w3-center w3-text-white">40%</div>
                        </div>
                    </div>
                    <p>HTML</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
                    </div>
                    <p>CSS</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                    </div>
                    <p>Git & GitHub</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                    </div>
                    <p>PostgreSQL</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:45%">45%</div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                    <p>English</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                    </div>
                    <p>Afrikaans</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
                    </div>
                    <p>IsiXhosa</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
                    </div>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>StoneThree Java Leanership</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p>I have been learning a new programming language Java and have grasped a good understanding of the Object Oriented side of the programming language, learning the concepts and the patterns used. I am able to design, develop and build applications and websites that have dynamic elements.</p>
                    <hr>
                </div>
<!--                <div class="w3-container">-->
<!--                    <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>-->
<!--                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>-->
<!--                    <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="w3-container">-->
<!--                    <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>-->
<!--                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>-->
<!--                </div>-->
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<!--                <div class="w3-container">-->
<!--                    <h5 class="w3-opacity"><b>StoneThree Learnership</b></h5>-->
<!--                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2020 - Jan 2021</h6>-->
<!--                    <p>Java Developer Programme </p>-->
<!--                    <hr>-->
<!--                </div>-->
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>codeX</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Dec 2019</h6>
                    <p>Agile Developer</p>
                    <hr>
                </div>
                <div class="w3-container">2019
                    <h5 class="w3-opacity"><b>Hottentots-Holland High School</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2013 - Nov 2017</h6>
                    <p>Matriculated</p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-github fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Move Your Body WebApp (codeX Hackathon)</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2020</h6>
                    <!--                    <h5 class="w3-opacity"><b>GitHub repo & web application links: </b></h5>-->
                    <a href="https://github.com/Plenis/move-your-body"><p>GitHub workflow repository</p></a>
                    <a href="https://moveyour-your-body.herokuapp.com/"><p>Move Your Body</p></a>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>HealthCare WebApp (codeX Hackathon)</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2020</h6>
                    <a href="https://github.com/PhumlaniDev/SparkJavaWithPostgresAndBootstrap"><p>GitHub workflow repository</p></a>
                    <a href="https://ehealth-care.herokuapp.com/"><p>e-Healthcare</p></a>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Greeting App running on terminal</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020</h6>
                    <a href="https://github.com/Plenis/greet-in-java"><p>GitHub workflow repository</p></a>
                   <hr>
                </div>
            </div>


<!--            <div class="w3-container w3-card w3-white">-->
<!--                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-github fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i></h2>-->

<!--                <div class="w3-container">-->
<!--                    <h5 class="w3-opacity"><b>Sino CV</b></h5>-->
<!--                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Dec 2019</h6>-->
<!--                    <p>Agile Developer</p>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="w3-container">2019-->
<!--                    <h5 class="w3-opacity"><b>Hottentots-Holland High School</b></h5>-->
<!--                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2013 - Nov 2017</h6>-->
<!--                    <p>Matriculated</p><br>-->
<!--                </div>-->
<!--            </div>-->



            <!-- End Right Column -->

        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <a href="https://www.facebook.com/sino.plenis.52"> <i class="fa fa-facebook-official w3-hover-opacity"></i> </a>
    <a href="https://www.instagram.com/sino.plenis/"> <i class="fa fa-instagram w3-hover-opacity"></i> </a>
    <a href="https://za.linkedin.com/in/sinovuyo-plenis-6a4553195 "> <i class="fa fa-linkedin w3-hover-opacity"></i> </a>
    <a href="https://github.com/Plenis "> <i class="fa fa-github w3-hover-opacity"></i> </a>
    <p> Hover on Profile image to see more ;) </p>
    <p>Profile by Sino Plenis</p>
</footer>

</body>
</html>
